/* General App */

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.form-control:focus {
    outline: none;
    box-shadow: none;
}

/* Login Page */
.loginBody {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
    max-width: 400px;
}

/* Game Browse Page */

.gamesList {
    
}

/* Game Page */

.game-board-4p {
    background-color: #2196F3;
    height: 400px;
    /* display: grid;
    grid-template-areas:
        'p1 p1 p1' 
        'p2 table p3';
    grid-gap: 10px;
    padding: 10px;
    grid-template-columns: auto 50% auto;
    grid-template-rows: 25% auto; */
}

.game-board-4p > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item1 { 
    grid-area: table;
}
.item2 { 
    grid-area: p1;
}
.item3 { 
    grid-area: p2; 
}
.item4 { 
    grid-area: p3; 
}
.item5 { 
    grid-area: p4; 
}

/* cards */
.img-container {
    width: 80px;
}

.img-container-blind {
    flex-shrink: 40;
    overflow: hidden;
    width: 1px;
    flex-grow: 5
}

.img-container-blind img {
    width: auto;
    height: 100px;
}

.player {
    height: 150px;
    background-color: white;
    color: black;
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
}