/* General App */

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.form-control:focus {
    outline: none;
    box-shadow: none;
}

/* Login Page */
.loginBody {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
    max-width: 400px;
}

/* Game Browse Page */

.gamesList {
    
}

/* Game Page */

.game-board-4p {
    background-color:white;
    height: 400px;
}

/* cards */
.img-container {
    flex-wrap: wrap;
    overflow: hidden;
    flex-grow: 0;
}

.img-container:last-child {
    overflow: visible;
}

.img-container img {
    width: auto;
    height: 100px;
}

.img-container-blind {
    flex-wrap: wrap;
    overflow: hidden;
    flex-grow: 0;
}

.img-container-blind img {
    width: auto;
    height: 100px;
}

.player {
    height: 150px;
    /* background-color: lightblue; */
    color: black;
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
}