.title {
    color: black
}

.loginBody {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
    max-width: 400px;
    background-color: white;
}

.lobbyBody {
    max-width: 500px;
    background-color: "white";
}

.ready {
    background-color: #B7E2C0; 
    transition: 0.5s
}

.not-ready {
    background-color: '';
    transition: 0.5s;
} 