.title {
    color: black
}

.loginBody {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
    max-width: 400px;
    background-color: white;
}